
body {
  font-family: 'Poppins', sans-serif;
  color: white;
  box-sizing: border-box;
  background-color: rgb(17, 18, 20);
  font-size: 18px;
}


h1 {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  font-size: 92px;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

h1 em{
  color: yellow;
}

p {
  line-height: 1.5;
  margin-top: 2rem;
}

#landing {
  min-height: 100vh;
  margin-top: 20vh;
}

.icons-nav {
  position:fixed;
  right: 25px;
  top: 25px;
  height: 50px;
  cursor: pointer;
  z-index: 100;
}

.icons-nav:hover{
  transform:scale(1.1);
  transition: ease-in-out 0.1s;
  opacity: 0.75;
}


figcaption{
  font-size: 16px;
  position: relative;
  top: -10px;
  text-align: center;
  opacity: 0;
}


.icons-learned, .icons-currently{
  cursor: pointer;
  margin: 1.25rem 1.5rem;
  display: inline-block;
  width: 60px;
}

.icons-currently{
  opacity: 0.75;
}

.icons-learned{
  filter:grayscale(1);
}

.icons-learned:hover + figcaption{
  opacity: 1;
  transform: translateY(-5px);
  transition: ease-in-out 0.5s;
}

.icons-currently:hover + figcaption{
  opacity: 1;
  transform: translateY(-5px);
  transition: ease-in-out 0.5s;
}

.icons-currently:hover, .icons-learned:hover{
  opacity: 1;
  filter: drop-shadow(2px 4px 6px rgba(199, 199, 199, 0.25));
  transform: translateY(-5px);
  transition: ease-in-out 0.1s;
}

.divider {
  margin: 1rem auto;
  height: 4px;
  background-color: yellow;
  border: 0;
  width: 50%
}


/* Code formatting */
#code {
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  margin: 3rem auto 2rem auto;
}

.code-element {
  color: #FF472E;
}

.code-value{
  color: #A2F4FF;
}

.code-attribute{
  color:#FFB6AC;
}

#learned, #currently {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 550px;
  margin: 0 auto;
}


#about, #projects {
  display: flex;
  flex-direction: row;
  justify-content:center;
  padding: 75px 50px;
}

#about{
  background-color: #E9E9E9;
  color: rgb(17, 18, 20);
  border-top: dashed 5px rgb(17, 18, 20);
  border-bottom: dashed 5px rgb(17, 18, 20);
}

#projects {
  background-color: rgb(17, 18, 20);;
  color: white;
}

.presentation-meta{
  margin: auto 0;
  margin-left: 5rem;
}

#profile-picture{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#profile-picture figcaption{
  font-size: 36px;
  font-family: 'Caveat', cursive;
  font-weight: 500;
  margin-top: 3rem;
  opacity: 1;
  color:  #4689b6;
}

#profile-picture img {
  max-width: 350px;
  width: 100%;
  border-radius: 50%;
}


#presentation-title {

  font-size: 38px;
  text-align: left;
}

#title-stroke {
  margin-top: 2rem;
  width: 75px;
  height: 5px;
  background: linear-gradient(90.1deg, #2ED9FF 11.73%, #52B3C8 94.52%);
}



/* Projects */

#projects {

  flex-direction: column;
}

#project-info{
  margin-bottom: 5rem;
}

#cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#projects article {
  cursor: pointer;
  margin: 1rem;
  color: rgb(17, 18, 20);
  max-width: 400px;
  
}

#projects article:hover{
  transform: translateY(-10px);
  transition: ease-in-out 0.3s;
}

#webscraper .upper{
  background-color: #FFC36A;
}

#dashboard .upper{
  background-color: #6AC9FF; 
}

#coming .upper{
  background-color: #c7c7c7;
}

#coming  p {
  color: transparent;
  text-shadow: 0 0 4px #000;
}

#projects .upper{
  border-radius: 25px 25px 0 0;
  display: flex;
  justify-content: center;
  height: 200px;
}

#projects .upper img{
  width: 125px;
}

#projects .lower {
  background-color: white;
  border-radius: 0 0 25px 25px ;
  padding: 20px;
}

#projects h3 {
  font-weight: 500;
  margin: 1rem auto;
  font-size: 24px;
}

#projects .meta section a {
  display:flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

#projects .meta {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

#projects .meta img {
  margin-right: 0.5rem;
  width: 30px;
}

#projects hr{
  margin: 1rem 0;
}

#projects .meta p {
  display: flex;
  text-align: right;
  align-items: center;
  font-size: 12px;
  margin: 0;
}




@media only screen and (max-width: 1000px) {


  body {
    font-size: 18px;
  }

  #about, #projects {
    padding: 50px 25px;
  }

  .icons-nav {
    right: 15px;
    top: 15px;
  }

  h1 {
    font-size: 64px;
  }



  .icons-learned, .icons-currently{
    width: 50px;

  }

  #about {

    align-items: center;
    flex-direction: column;
  }

  #presentation p {
    padding: 2rem 0;
  }

 
  #presentation {
    text-align: center;
  }

  #title-stroke {
    width: 150px;
    margin: 0 auto;
  }

  #presentation h2 {
    margin: 2rem auto;
    text-align: center;
    font-size: 38px;
  }

  .presentation-meta {
    margin-top: 2rem;
    margin-left: 0;
  }



  #cards {
    flex-direction: column;
  }

  #projects div {
    width: 100px;
    margin: 2rem auto;
  }


  #project-info{
    margin-bottom: 2rem;
  }

  #projects h2{
    text-align: center;
  }

  
  
}