/* Variables */
:root{

  /* Colors */ 
  --dark-color: rgb(17, 18, 20);
  --light-color: rgb(237, 237, 237);
  --yellow-color: rgb(232, 232, 17);
  --element-color: #FF472E;
  --value-color: #A2F4FF;
  --attribute-color: #FFB6AC;

  --primary-color: #4689b6;
  --secondary-color: #FFC36A;
  --third-color: #c7c7c7;

  --primary-gradient: linear-gradient(90.1deg, #2ED9FF 11.73%, #52B3C8 94.52%);
  --secondary-gradient: linear-gradient(90.1deg, #e2b031 11.73%, #ca7710 94.52%);

  /* Margins */ 
  --small-margin: 1rem;
  --medium-margin: 2rem;
  --large-margin: 3rem;
  --largest-margin: 5rem;

  /* Paddings */ 
  --small-padding: 10px;
  --medium-padding: 25px;
  --large-padding: 40px;
  --largest-padding: 50px;

  /* Fonts */ 
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Bebas Neue', cursive;
  --signature-font: 'Caveat', cursive;

  --small-p: 12px;
  --medium-p: 18px;
  --large-p: 24px;

  --small-title: 28px;
  --medium-title: 38px;
  --large-title: 72px;
  --largest-title: 92px;

  /* Animations */ 
  --fast-transition: ease-in-out 0.1s;
  --medium-transition: ease-in-out 0.25s;
  --slow-transition: ease-in-out 0.5s;

  /* Shadows */ 
  --icon-shadow: drop-shadow(2px 4px 6px rgba(199, 199, 199, 0.2));
}



/* Main elements */

body {
  font-family: var(--primary-font);
  color: var(--light-color);
  box-sizing: border-box;
  background-color: var(--dark-color);
  font-size: var(--medium-p);
}

h1 {
  font-family: var(--secondary-font);
  text-align: center;
  font-size: var(--largest-title);
  margin-bottom: var(--medium-margin);
  letter-spacing: 1px;
}

h1 em {
  color: var(--yellow-color);
}

h2 {
  margin: var(--medium-margin) auto;
  text-align: left;
  font-size: var(--medium-title);
}

h3 {
  font-weight: 500;
  margin: var(--medium-margin) auto;
  font-size: var(--small-title);
}

p {
  font-size: var(--medium-p);
  line-height: 1.5;
  margin-top: var(--medium-margin);
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

a:hover {
  text-decoration: none;
  color: var(--primary-color);
  opacity: 0.8;
}

figcaption{
  font-size: var(--medium-p);
  position: relative;
  top: -10px;
  text-align: center;
  opacity: 0;
}

footer {

  padding: var(--medium-padding);
  text-align: center;
  color: var(--dark-color);
  background-color: var(--light-color);
  border-top: dashed 5px var(--dark-color);
}

footer p {
  margin: 0.5rem auto;
  font-style: italic;
}

footer .footer-header{
  color: var(--primary-color);
  font-weight: 500;
}

.wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column; 
}

#about .wrapper {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; 
}

/* Hover states */ 

.hover-scale:hover{
  cursor: pointer;
  transform:scale(1.1);
  transition: var(--fast-transition);
  opacity: 0.75;
}

.icons-learned:hover + figcaption{
  opacity: 1;
  transform: translateY(-10px);
  transition: var(--slow-transition);
}

.icons-currently:hover + figcaption{
  opacity: 1;
  transform: translateY(-10px);
  transition: var(--slow-transition);
}

.hover-up:hover{
  cursor: pointer;
  opacity: 1;
  filter: var(--icon-shadow);
  transform: translateY(-10px);
  transition: var(--medium-transition);
}

/* Icons design */ 

.icons-nav {
  display: flex;
  position:fixed;
  right: 25px;
  top: 25px;
  z-index: 100;
}

.icons-nav article a {
  margin: 0.5rem;
}

.icons-nav article a{
  margin: 0.5rem;
}

.icons-learned, .icons-currently{
  margin: 1.25rem 1.5rem;
  display: inline-block;
  width: 60px;
}

.icons-currently{
  opacity: 0.75;
}

.icons-learned{
  filter:grayscale(1);
}

/* Landing page - design */

#landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}


.main-divider {
  margin: var(--small-margin) auto;
  height: 4px;
  background-color: var(--yellow-color);
  border: 0;
  width: 50%
}

#code {
  font-size: var(--large-p);
  text-align: center;
  font-weight: 400;
  margin: var(--large-margin) auto;
}

.code-element {
  color: var(--element-color);
}

.code-value{
  color: var(--value-color);
}

.code-attribute{
  color:var(--attribute-color);
}

#learned, #currently {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 550px;
  margin: 0 auto;
}


#currently {
  margin-bottom: var(--medium-margin);
}

/* About page - design */ 

#about{
  display: flex;
  flex-direction: row;
  justify-content:left;
  padding: var(--largest-padding);
  background-color: var(--light-color);
  color: var(--dark-color);
  border-top: dashed 5px var(--dark-color);
  border-bottom: dashed 5px var(--dark-color);
}

#presentation {
  width: 50%;
}

#projects-divider, #presentation-divider {
  margin-top: 2rem;
  width: 75px;
  height: 5px;
}

#presentation-divider {
  background: var(--primary-gradient);
}

.presentation-meta{
  margin: auto 0;
  margin-left: var(--largest-margin);
}

#profile-picture{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#profile-picture figcaption{
  font-size:  var(--medium-title);
  font-family: var(--signature-font);
  font-weight: 500;
  margin-top: var(--large-margin);
  opacity: 1;
  color:  var(--primary-color);
}


#profile-picture img {
  max-height: 350px;
  border-radius: 50%;
}

/* Projects page - design */ 

#projects-divider {
  background: var(--secondary-gradient);
}

#projects {
  
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  padding: 6rem var(--largest-margin);
  color: var(--light-color);
  background-color: var(--dark-color);
}

#project-info{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  margin-bottom: var(--large-margin);
}

#project-info h2 {
 margin: 0;
}

#project-info p{
  text-align: right;
  right: 0;
  
}

#cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#projects article {
  margin: var(--small-margin);
  color: var(--dark-color);
  min-width: 300px;
  max-width: 350px;
}

#coming  p {
  color: transparent;
  text-shadow: 0 0 4px var(--dark-color);
}

#projects .upper{
  border-radius: 25px 25px 0 0;
  display: flex;
  justify-content: center;
  height: 200px;
}

#projects .upper img{
  margin: auto;
  width: 125px;
}

#projects .lower {
  background-color: var(--light-color);
  border-radius: 0 0 25px 25px ;
  padding: 20px;
}

#projects .meta {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

#projects .meta img {
  margin-right: 0.5rem;
  width: 30px;
}

#projects .meta section a {
  display:flex;
  align-items: center;
  text-decoration: none;
  color: var(--dark-color);
}

#projects .meta p {
  display: flex;
  text-align: right;
  align-items: center;
  font-size: var(--small-p);
  margin: 0;
}

#projects hr{
  margin: var(--small-margin) 0;
}

#dashboard .upper{
  background-color: var(--primary-color); 
}

#webscraper .upper{
  background-color: var(--secondary-color);
}

#coming .upper{
  background-color: var(--third-color);
}

@media only screen and (max-width: 1250px) {

  .wrapper {
    width: 90%;
  }

}


@media only screen and (max-width: 1000px) {


  #projects {
    padding: var(--medium-padding);
  }

  .wrapper{
    width: 95%;
  }

  /* Landing page */ 

  #landing{
    margin-top: 5vh;
  }

  h1 {
    font-size: var(--large-title);
  }

  .icons-learned, .icons-currently{
    width: 50px;
  }

  #code {
    font-size: 14px;
  }

  .icons-nav {
    flex-direction: column;
    right: 10px;
    top: 10px;
  }

  .icons-nav a img{
    width: 30px;
  }

  /* About page */ 

  h2 {
    text-align: center;
  }

  #about {
    align-items: center;
    flex-direction: column;
    padding: var(--small-padding);
  }

  #presentation-divider, #projects-divider {
    width: 100px;
    margin: 0 auto;
  }
 
  #presentation {
    text-align: center;
    width: 90%;
  }

  .presentation-meta {
    width: 90%;
    margin: var(--medium-margin) auto;

  }

  #profile-picture figcaption{
    font-size:  var(--small-title);
  }

  /* Projects page */ 

  #project-info h2 {
    margin: var(--small-margin) auto;
   }
   
  #project-info p{
    text-align: center;
    margin: var(--medium-margin) auto;
    width: 300px;
  }

  #cards {
    width: 90%;
    flex-direction: column;
  }

  #project-info {
    margin: 0 auto;
    margin-bottom: var(--medium-margin);
  }

  #project-info p{
    text-align: center;
    width: 300px;
  }
  
}

@media only screen and (max-width: 600px) {


  #project-info{
    margin-bottom: 0;
  }

  #learned{
    max-width: 90%;
  }

  h1 {
    font-size: var(--large-title);
  }

  h2 {
    font-size: var(--small-title);
    margin: 1rem auto;
  }

  #h3 {
    font-size: var(--large-p);
    margin: 0;
  }

  #projects article p {
    margin: 1rem 0;
  }

  p {
    font-size: 14px;
  }

  #profile-picture img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
  }

  .wrapper{
    width: 95%;
  }

  #cards {
    width: 100%;
    flex-direction: column;
  }

  #projects article {
    margin: var(--small-margin) 0;
    color: var(--dark-color);
    min-width: 200px;
    max-width: 100%;
  }

}